{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/images/internetexplorer.gif" alt="me" />
    
    </div>
    <h1 class="text-xl font-bold">Witaj na zz7</h1>
    <p class="my-4">
      to jedna z tych stron bez których internet sobie poradzi i to całkiem dobrze, ale myśle że jest troche osób które znajdzie tu coś dla siebie 
      
      
      <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >gierki technologie newsy - zz7
      </span>
    </p>
  </section>

  <section>
    <p>
    
    </p>
  </section>
</main>

{{ end }}
